@using Microsoft.FluentUI.AspNetCore.Components

<FluentFooter class="p-3 bg-primary-subtle footer">
	<span>Yaniko Video Conferencing</span>
	<span>Location: Aalst, Belgium</span>
	<span>Email: exemple@gmail.com</span>
	<FluentSpacer />
	<span><i>Built by <strong>@@Yannick-Yanga</strong></i></span>
</FluentFooter>

<style>
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
</style>